body {
    height: 100vh;
    background-color: #201e1e;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: oldlace;
}

.header {
    background-color: #0c181fa5;
    margin-top: 0;
    padding: 30px;
    color: rgb(233, 174, 188);
    font-size: 45px;
}

.score {
    font-size: 35px;
}

.aliens-count {
    color: rgb(234, 193, 97);
}

.data {
    width: 890px;
    margin: 0 auto;
    padding: 10px;
}

.fast-laser,
.shield {
    color: rgb(234, 230, 219);
    color: rgb(234, 193, 97);
    position: absolute;
    bottom: 104px;
}

.fast-laser {
    margin-left: 360px;
}

.shield {
    margin-left: 720px;
}

table {
    height: 820px;
    width: 920px;
    margin: auto;
    border-collapse: collapse;
    border: 25px solid rgba(0, 0, 0, 0.096);
}

.lives {
    position: absolute;
    bottom: 115px;
    margin-left: -430px;
}

.lives img {
    width: 35px;
    height: auto;
    margin-left: 10px;
}

td {
    width: 60px;
    height: 60px;
    transition: 300ms;
}

td img {
    width: 40px;
    height: auto;
}

.SKY {
    background-color: rgba(87, 97, 105, 0.092);
}

.EARTH {
    border-top: 8px solid rgb(107, 72, 72);
}

.BUNKER {
    background-color: rgba(28, 31, 31, 0.907);
    border-radius: 20%;
}

.modal {
    background-color: rgba(35, 30, 30, 0.855);
    border: 5px solid rgb(0, 0, 0);
    width: 400px;
    height: 500px;
    padding: 10px 0px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keys {
    color: rgb(234, 193, 97);
    margin-left: 30px;
    text-align: left;
}

.keys h3 {
    display: inline;
}

.keys img {
    position: relative;
    top: 20px;
}

.hidden {
    display: none;
}

.modal button {
    border-radius: 10px;
    font-size: 17px;
}

.modal button:hover {
    cursor: pointer;
}

.levels button {
    background-color: #9cc9c5;
    padding: 4px 10px;
}

.levels button:hover {
    background-color: #729a96;
}

.chosen {
    background-color: #814f78;
}

.restart {
    background-color: #e3e1cb;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.restart:hover {
    background-color: #e0ddc1;
    font-weight: bold;
}